body {
    background-color: #FFFDD0;
}

h1 {
    font-family: Fantasy;
    font-weight: lighter;
}

a.Footer {
    font-family: Fantasy;
    font-weight: lighter;
}

a.Contatto {
    color: black;
    border: 4px solid lightblue;
    border-radius: 5px;
    background-color: lightblue;
}